main{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.burger{
  display: none;
  width: 16px;
  margin-left: 12px;
  cursor: pointer;
}

main .content{
  width: 70%;
  margin-top: 80px;
  padding-bottom: 100px;
}

main .side{
  width: 27%;
  float: right;
  margin-top: 80px;
  padding-bottom: 100px;
}

a{
  color: var(--color-primary);
}

main .heading{
  margin-bottom: 10px;
}

main .date{
  color: var(--color-grey);
  font-size: 1.2rem;
  margin-bottom: 20px;
}

main .text{
  font-size: 1.3rem;
  margin-bottom: 15px;
  width: 100%;
}

main .border-btn{
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;
}

main .border{
  border: 1px solid #b3b3b3;
}

main .subhead{
  margin-bottom: 10px;
}

main .subhead2{
  font-size: 2.2rem;
  margin-bottom: 10px;
}

main .list{
  margin-left: 30px;
}

main .buttons .old{
  color: var(--color-primary);
  cursor: pointer;
  border: 1px solid var(--color-primary);
}

main .buttons .new{
  color: var(--color-grey);
  border: 1px solid var(--color-grey);
}

.navbar .icons button{
  border: none;
  background-color: white;
  width: 16px;
  height: 16px;
  margin-top: 12px;
}

.button{
  background-color: white;
  transition: 0.1s all;
  padding: 5px 10px;
  border-radius: 15px;
}

.clickable{
  cursor: pointer;
}

.clickable:active{
  transform: scale(0.95);
}

.side .side-section{
  margin-bottom: 50px;
}

.side .box{
  padding: 10px;
  background-color: #f4f4f4;
}

.side .subhead{
  margin-bottom: 7px;
}

.side .archives{
  line-height: 1.4;
}

@media only screen and (max-width: 810px) {
  main{
    width: 90%;
    margin-left: 5%;
  }

  main .content{
    width: 100%;
  }

  .burger{
    display: block;
  }

  main .side{
    display: none;
    position: absolute;
    transition: 0.5s;
    right: 0;
    background-color: white;
    z-index: 100;
    padding-left: 20px;
  }

}
